@use '../styles/variables.scss' as *;

.btn {
  height: $btn-height;
  width: $btn-width;
  border: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 300ms;
}

.btn-primary {
  background-color: $secondary-color;
  outline: 2px solid transparent;
}

.btn-primary:hover {
  outline: 2px solid $secondary-color;
}

.btn-secondary {
  background-color: $content-background-color;
  border: 3px solid $secondary-color;
}

.text-highlight {
  color: $secondary-color;
}
