// Colors
$primary-color: rgb(26, 190, 26);

// Layout dimensions
$content-width: 80rem;

// Component dimensions
$header-wrapper-height: 5rem;

// Border styles
$border-radius-m: 1rem;
$border-style: 1px solid black;

//Font sizes
$font-size-l: 2.5rem;
