// Colors
$primary-color: #1f4d3a;
$content-background-color: #f8faf7;

// Layout dimensions
$content-width: 80rem;

// Component dimensions
$header-wrapper-height: 5rem;

// Border styles
$border-radius-m: 1rem;
$border-style: 1px solid black;

//FONT STYLES

//Fonts
$heading-font: 'Nunito', sans-serif;
$body-font: 'Inter', sans-serif;

//Font sizes
$font-size-l: 2.5rem;
