@use '../../../styles/variables.scss' as *;

.header-container {
  width: $content-width;
  height: $header-height;
  margin: auto;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  height: calc($header-height - 1rem);
  width: 100%;
  padding: 0 1.875rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: $container-border-radius;
  border: $border-style;
  color: black;
  background-color: white;
}

nav {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}

nav a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: red;
}

.logo {
  background: url('../../../assets/images/logo.jpg');
  height: 3.125rem;
  width: 3.125rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  text-decoration: none;
}

.logo-text {
  font-size: 2.2rem;
  font-weight: bolder;
  font-family: 'Madimi One', sans-serif;
}
