@use '../../styles/variables.scss' as *;

.header-wrapper {
  z-index: 1;
  width: 100%;
  height: $header-wrapper-height;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.header {
  height: calc($header-wrapper-height - 1rem);
  width: calc($content-width - 1rem);
  padding: 0 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  transition: 300ms;
  text-shadow: 1px 1px 2px black;
}

nav {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}

nav a {
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease;
  cursor: pointer;
  text-transform: uppercase;
}

.logo {
  background: url('../../assets/images/logo.jpg');
  height: 3.125rem;
  width: 3.125rem;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  text-decoration: none;
}

.logo-text {
  font-size: $font-size-l;
  font-weight: bolder;
}

.header-scrolled {
  position: fixed;
  border-radius: $border-radius-m;
  border: $border-style;
  color: black;
  background-color: $content-background-color;
  text-shadow: none;
}
