@use '../../../styles/variables.scss' as *;

.content-wrapper {
  width: 100%;
}

.content {
  margin: auto;
  width: $content-width;
  height: 110vh;
  padding: 3.75rem;
  display: flex;
  align-items: center;
  gap: 3.75rem;
}
